
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Reset password- InnovateSocial</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/floating-labels/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="https://img.icons8.com/color/50/000000/innovation.png">

    <!-- Favicons -->
<meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

    </style>
    <!-- Custom styles for this template -->
  </head>
  <body>

    <form class="form-signin" method='post' action=''>
        <div id='display'>

  <div class="text-center mb-4">
    <img class="mb-4" src="https://img.icons8.com/color/120/000000/innovation.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>
  </div>

  <div class="form-label-group">
    <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputEmail">Username</label>
  </div>

  <div class="form-label-group">
    <input type="email" id="email" class="form-control" placeholder="Email address" required>
    <label for="inputPassword">Email Id</label>
  </div>

  <div class="checkbox mb-3">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" id='submitbut'>Send password reset email</button>
</div>

</form>

</body>
<script src = "/socket.io/socket.io.js"></script>
<script>
var socket = io();
document.getElementById('submitbut').addEventListener('click',function(e){
    e.preventDefault();
    username=document.getElementById('username').value;
    email=document.getElementById('email').value;
    socket.emit('forgot',{username:username,email:email});
})
socket.on('invalidcredential',function(data){
    text='<h6 style="margin-top:1.2rem">Your username doesnt match with your registered email.Please check again</h6>'
    document.getElementById('display').innerHTML+=text;
})
socket.on('success',function(data){
    text='<h6>Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</h6>\
    <a href="/signin/true" style="font-size:2rem">Return to sign in</a>'
    document.getElementById('display').innerHTML=text;

})
function fun(e){
    e.preventDefault();
}
</script>
</html>
