<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Signin Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Favicons -->
    <link rel="icon" href="https://img.icons8.com/color/50/000000/innovation.png">

<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">


    <style>
      html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      input{
        margin-top: 1.2rem;;
      }
      small{
        margin-left: 0.05rem;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" method='post' action='/'>

      <img class="mb-4" src="https://img.icons8.com/color/120/000000/innovation.png" alt="" width="100" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" name='fname' required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" name='lname' required>
    </div>
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmailId" class="form-control" name='email'placeholder="Email" required autocomplete="off">
    <div class="container" id='emailCond'></div>

  <label for="inputEmail" class="sr-only">Username</label>
  <input type="text" id="inputEmail" class="form-control" name='userName'placeholder="Username" required autocomplete="off">
  <div class="container" id='suggestions'></div>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name='password' class="form-control" placeholder="Password" required>
  <div style="margin-top:0.4rem; margin-bottom: 0.6rem;">
    <small >Make sure it's </small><small id='numberChar'> atleast 6 characters</small><small>  with </small>  <small id='lowerChar'>a lowercase letter </small><small>, </small><small id='upperChar'>a Uppercase letter </small> <small>and </small>  <small id='numbers'>three numbers</small>

  </div>
  <div class="checkbox mb-3">
    <label>
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" id='submitbut'>Sign Up</button>
</form>
<a href="/signin/true" style=" margin-left:33%; margin-top: 1.5rem;">Already an User</a>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    flagUsername=false;
  flagEmail=false;
  flagPwd=false;

  function suggestUsername(fn){
    arr=["Arrow","Assassin","Avenger",
"Blaze",
"Bodhi",
"Bolt",
"Boss",
"Captain",
"Crimson",
"Cyborg",
"Dark",
"Death",
"Demon",
"Destruction",
"Doom",
"Doctor",
"Dragon",
"Enigma",
"Fallen",
"Fate",
"Flame",
"Frozen",
"Ghost",
"Great",
"Infinite",
"Immortal",
"Killer",
"Knight",
"Lightning",
"Mist",
"Micro",
"Neo",
"Nightmare",
"Ninja",
"Outlaw",
"Prime",
"Realm",
"Seeker",
"Shadow",
"Silver",
"Sinister",
"Slayer",
"Sniper",
"Trinity",
"Zephyr"]
s1=(fn+Math.round(Math.random()*1000));
s2=(fn+arr[Math.round(Math.random()*45)]);
if(s1.length<8){
  s1=s1+arr[Math.round(Math.random()*45)];
}
if(s2.length<8){
  s2=s2+Math.round(Math.random()*1000)+arr[Math.round(Math.random()*45)];
}
    return [s1,s2];
  }
  document.getElementById('inputEmail').addEventListener('keyup',getData);
  function getData(){
    const xhr=new XMLHttpRequest();
    xhr.open('GET','/users');
    xhr.responseType='json';
    xhr.onload=()=>{
      const data=xhr.response;
      let l
            found=true
            if(typeof(data)==undefined){
                data=[];
            }
            if(data.length==0){
                l=1
            }
            suggest=suggestUsername($('#inputEmail').val())
            if(data.length<=0){
              if( $('#inputEmail').val().length<8){
                flagUsername=false;

                $('#inputEmail').css('background-color','#f3dfe3');
                  $('#suggestions').html('Username shd atleast have 8 characters...<br> Some Suggestions: '+suggest)     
               }
                  else{
                    flagUsername=true

                    $('#inputEmail').css('background-color','#b7efcd');
                  $('#suggestions').html('Username available!!!')
                  }
            }
            
              for (var i=0;i<data.length;i++){
                if( $('#inputEmail').val().length<8){
                  flagUsername=false;
                  $('#inputEmail').css('background-color','#f3dfe3');
                  $('#suggestions').html('Username shd atleast have 8 characters...<br> Some Suggestions: '+suggest)
                  break;
                }
                if(data[i].userName===$('#inputEmail').val().split(" ").join('') ){
                  flag=false;
                  flagUsername=false;
                  $('#inputEmail').css('background-color','#f3dfe3');
                  $('#suggestions').html('Username already taken <br>Some Suggestions: '+suggest)
                  break;
                }
                else{
                  flagUsername=true

                  $('#inputEmail').css('background-color','#b7efcd');
                  $('#suggestions').html('Username available')
                }

              } 
                 
              if(flagUsername && flagEmail && flagPwd){
      $( "#submitbut" ).prop( "disabled", false );
    }
    else{
      $( "#submitbut" ).prop( "disabled", true );
    }
    }
    xhr.send();
  }
  document.getElementById('inputPassword').addEventListener('keyup',function(){
    countNumbers=0
    countLowerChar=0
    countUpperChar=0
    pwd=document.getElementById('inputPassword').value;
    if(pwd.length<=6){
      document.getElementById('numberChar').style.color='red';
    }
    else{
      document.getElementById('numberChar').style.color='black';

    }
    for(i=0;i<pwd.length;i++){
      if(pwd.charCodeAt(i)>=48 && pwd.charCodeAt(i)<58){
        countNumbers++;
      }
      if(pwd.charCodeAt(i)>=97 && pwd.charCodeAt(i)<122){
        countLowerChar++
      }
      if(pwd.charCodeAt(i)>=65 && pwd.charCodeAt(i)<91){
        countUpperChar++
      }
    }    
    if(countNumbers<3){
      document.getElementById('numbers').style.color='red';
    }
    else{
      document.getElementById('numbers').style.color='black';
    }
    if(countLowerChar==0){
      document.getElementById('lowerChar').style.color='red';
    }
    else{
      document.getElementById('lowerChar').style.color='black';
    }
    if(countUpperChar==0){
      document.getElementById('upperChar').style.color='red';
    }
    else{
      document.getElementById('upperChar').style.color='black';
 
    }
    if(countLowerChar!=0 && countUpperChar!=0 && countNumbers>=3 && pwd.length>6){
      console.log(true);
      $('#inputPassword').css('background-color','#b7efcd');

      flagPwd=true;

    }
    else{
      console.log(false);
      $('#inputPassword').css('background-color','#f3dfe3');

      flagPwd=false;


    }
    if(flagUsername && flagEmail && flagPwd){
      $( "#submitbut" ).prop( "disabled", false );
    }
    else{
      $( "#submitbut" ).prop( "disabled", true );
    }
  })

  $(document).ready(()=>{
    $('#inputEmailId').on('keyup',()=>{
      document.getElementById('emailCond').innerHTML="";
      $.ajax({
        url:'/users',
        type:'GET',
        dataType:'json',
        success:(dat1)=>{
            $('#emailCond').html('')
        for(var i=0;i<dat1.length;i++){
          if(dat1[i].email===$('#inputEmailId').val()){
            flagEmail=false;

            $('#inputEmailId').css('background-color','#f3dfe3');
            // $( "#submitbut" ).prop( "disabled", true );
            $('#emailCond').html('Email is already in Use!!!')

            break;
          }
        else{
          flagEmail=true;

            $('#inputEmailId').css('background-color','#b7efcd');
            // $( "#submitbut" ).prop( "disabled", false );
          }
          
        }
        if(flagUsername && flagEmail && flagPwd){
      $( "#submitbut" ).prop( "disabled", false );
    }
    else{
      $( "#submitbut" ).prop( "disabled", true );
    }
        }
      })
    })
  })
</script>
</html>
